<form [formGroup]="taskForm" (ngSubmit)="save()" class="w-10/12 mx-auto shadow p-4 border border-gray-200 grid gap-2">
  <tasker-input-text [control]="taskForm.get('title')" label="Title"></tasker-input-text>
  <tasker-input-editor [control]="taskForm.get('description')"></tasker-input-editor>
  <tasker-input-number label="Estimated" [control]="taskForm.get('estimatedTime')"></tasker-input-number>
  <tasker-input-number label="Spent" [control]="taskForm.get('spentTime')"></tasker-input-number>
  <tasker-input-url label="URL" [control]="taskForm.get('url')"></tasker-input-url>
  <tasker-input-select [control]="taskForm.get('projectId')" label="Project" [options]="projects$ | async"></tasker-input-select>

  <div class="flex items-center justify-end mt-4 space-x-2">
    <button type="reset" class="px-3 py-2"><span>Clear</span></button>
    <button type="submit" class="bg-indigo-800 text-white font-bold px-3 py-2"><span>Save</span></button>
  </div>
</form>
