<div class="flex h-full">
  <div class="w-[200px] bg-gray-50 h-full pt-12 pb-4 flex flex-col justify-between">
    <div class="flex flex-col space-y-1">
      <tasker-text-with-icon link="/dashboard" iconName="table-columns" label="Dashboard"></tasker-text-with-icon>
      <tasker-text-with-icon link="/projects" iconName="folder" label="Project"></tasker-text-with-icon>
      <tasker-text-with-icon link="/tasks" iconName="memo-circle-check" label="My Tasks"></tasker-text-with-icon>
    </div>

    <div>
      <tasker-text-with-icon link="/settings" iconName="cog" label="Settings"></tasker-text-with-icon>
    </div>
  </div>
  
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>