<div class="flex h-screen">
  <aside class="w-[250px] bg-gray-50">
    <tasker-left-navbar></tasker-left-navbar>
  </aside>

  <main class="flex-1 flex flex-col h-screen">
    <nav class="border-b border-gray-200">
      <tasker-top-navbar></tasker-top-navbar>
    </nav>

    <article class="flex-1 overflow-y-auto">
      <tasker-wall>
        <tasker-tasks [tasks]="tasks" regular-tasks></tasker-tasks>
        <tasker-tasks [tasks]="tasks" blocker-tasks [isBlocker]="true"></tasker-tasks>
      </tasker-wall>
    </article>
  </main>
</div>

