<div class="flex items-center justify-between p-4 bg-gray-50 rounded">
  <div class="flex items-center space-x-2">
    <input type="checkbox">

    <div>
      <h5 class="font-medium">Create basic task CRUD API</h5>
      <p class="text-[10px]">
        <span class="text-gray-400">E</span>: 1h 20m
        <span class="text-gray-400">S</span>: 20m
      </p>
    </div>
  </div>

  <div class="flex items-center space-x-2">
    <button>
      <i class="fas"
         [ngClass]="{'fa-pause-circle': !paused, 'fa-play-circle': paused}"
         (click)="toggleTaskTime()"
      ></i>
    </button>

    <button [matMenuTriggerFor]="menu">
      <i class="fal fa-ellipsis-h"></i>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Duplicate</button>
  <button mat-menu-item>Delete</button>
  <button mat-menu-item>Inactive</button>
  <button mat-menu-item>Blocker Task</button>
</mat-menu>
