<ng-container *ngIf="task$ | async as task">
  <div class="border-b border-gray-100 h-12 flex items-center justify-between px-6">
    <div class="flex items-center space-x-4">
      <button (click)="back()"><i class="fal fa-chevron-left"></i></button>
      <div>
        <h1 class="font-bold text-base">{{task.title}}</h1>
        <p>{{task.createdOn | date}}</p>
      </div>
    </div>

    <div class="flex items-center space-x-2">
      <button class="flex items-center space-x-2" *ngIf="task.isActive && !task.isBlocker">
        <i class="fal fa-play" *ngIf="!task.isRunning"></i>
        <i class="fal fa-pause" *ngIf="task.isRunning"></i>
        <span>{{task.spentTime}} / {{task.estimatedTime}}</span>
      </button>

      <div class="bg-black px-3 py-2 rounded text-white flex space-x-2 text-xs">
        <input [checked]="task.isCompleted" [disabled]="!task.isActive || task.isBlocker" type="checkbox" class="rounded">
        <label>Complete</label>
      </div>
    </div>
  </div>

  <div class="p-4 grid gap-2">
    <div class="flex items-center">
      <p class="w-24">ID:</p>
      <p class="flex-1">{{task.id}}</p>
    </div>

    <div class="flex items-center">
      <p class="w-24">Task Priority:</p>
      <select (change)="updatePriority($event, task)" class="flex-1 rounded text-xs border border-gray-300">
        <option [selected]="task.priority === priority" *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
      </select>
    </div>

    <div class="flex flex-col">
      <p class="w-24">Task Details:</p>
      <textarea (input)="updateDescription($event, task)" class="flex-1 text-xs border border-gray-300 rounded" [value]="task.description || ''"></textarea>
    </div>

    <div class="flex items-center" *ngIf="projects$ | async as projects">
      <p class="w-24">Project:</p>
      <select (change)="updateProject($event, task, projects)" class="flex-1 rounded text-xs border border-gray-300">
        <option [selected]="task?.project?.id === project.id" *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
      </select>
    </div>

    <div class="flex items-center" *ngIf="users">
      <p class="w-24">Assignee:</p>
      <select (change)="updateAssignee($event, task, users)" class="flex-1 rounded text-xs border border-gray-300">
        <option [selected]="task?.assignee?.id === user.id" *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
      </select>
    </div>

    <div class="flex items-center">
      <p class="w-24">Remind me:</p>
      <select (change)="updateRemindBefore($event, task)" class="flex-1 rounded text-xs border border-gray-300">
        <option *ngFor="let remindMeTime of remindMeTimes" [value]="remindMeTime">{{remindMeTime}} minutes</option>
      </select>
    </div>

    <div class="flex items-center">
      <p class="w-24">Time Tracking:</p>
      <progress [max]="task.estimatedTime" [value]="task.spentTime"></progress>
    </div>

    <div class="flex items-center">
      <p class="w-24">Repeat:</p>
      <input type="checkbox" class="rounded">
    </div>

    <div class="flex items-center">
      <p class="w-24">Estimated:</p>
      <input (input)="updateEstimatedTime($event, task)" [value]="task.estimatedTime" type="number" class="border border-gray-300 rounded text-xs">
    </div>
  </div>
</ng-container>
